html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.global-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto; 
}

.global-container .calculator,.head,.elements, .results{

    flex:1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.global-container .calculator .elements{
    padding: 12px 12px;
    
}
.global-container .calculator .elements *{

    padding: 8px;
    margin: 5px;
    border-radius: 4px;

}